{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mon listings</title>
    <link rel="stylesheet" href="{% static 'style1.css' %}">
</head>
<body>
    <div class="container">
        <h1>Bienvenue sur mon site</h1>
        <h2>Regardez tous les artistes à l'affiche !</h2>
        <ul>
            <li>{{ bands.0.name }} : {{ titres.2.name }}</li>
            <li>{{ bands.1.name }} : {{ titres.0.name }}</li>
            <li>{{ bands.2.name }} : {{ titres.1.name }}</li>
        </ul>
    </div>
</body>
</html>