{% extends 'listings/base.html' %}
{% load static %}
{% block content %}
<title>Mon listings</title>
<link rel="stylesheet" href="{% static 'listings/style.css' %}">

<div class="container">
    <h1>Groupes</h1>
    <ul>
        {% for band in bands %}
                <li><a href="{% url 'detail-groupe' band.id %}">{{ band.name }}</a></li>
        {% endfor %}
    </ul>

    <h1>Musiques</h1>
    <ul>
        {% for song in songs %}
                <li><a href="{% url 'detail-groupe' song.band.id %}">{{ song.name }}</a></li>
        {% endfor %}
    </ul>
</div>

{% endblock %}
